@mixin animated-underline($classOrProperty, $animateVisibility: false) {
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 0;
    border-radius: 14px;
    visibility: hidden;
    transition: width ease-in-out $animation-time,
      visibility if($animateVisibility, $animation-time, 0s);
    @content;
  }

  &#{$classOrProperty} {
    &::after {
      width: 100%;
      visibility: visible;
    }
  }
}

@mixin triangle() {
  &::after {
    content: "";
    position: absolute;
    bottom: spacing(1);
    right: spacing(1);
    display: block;
    width: 6px;
    height: 6px;
    border: 3px solid transparent;
    border-bottom-color: rgba(217, 217, 217, 0.3);
    border-right-color: rgba(217, 217, 217, 0.3);
    @content;
  }
}
