@mixin reset-button($resetFont: true) {
  padding: 0;
  border: 0;
  border-radius: 0;
  background: transparent;
  color: inherit;
  @if ($resetFont) {
    line-height: 1;
    font-size: 0;
  }
}

@mixin menu-button {
  @include reset-button(false);
  @include action-cursor;

  width: 100%;
  padding: spacing(2);
  border-radius: $border-radius;
  transition: background-color $animation-time;

  &:hover {
    background-color: $bg-main;
  }
}
