@mixin disable-input-number-arrows {
  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  &[type="number"] {
    -moz-appearance: textfield;
  }
}

@mixin style-input-field {
  box-sizing: content-box;
  width: 100%;
  line-height: 1.2;
  padding: spacing(3);
  border: none;
  background-color: transparent;
  font-size: 1rem;
  color: $body-color;
  transition: border-color $animation-time;
  cursor: url("/icons/cursor-text.svg"), auto;

  &:focus {
    outline: none;
  }

  &:disabled {
    cursor: url("/icons/cursor-default.svg"), auto;
  }

  &::placeholder {
    color: $placeholder-color;
  }
}
