@mixin hide-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@mixin custom-scroll($width: 4px) {
  overflow: auto;
  /* Firefox */
  scrollbar-color: $border-color $bg-extra;
  scrollbar-width: thin;
  /* Chome */
  &::-webkit-scrollbar {
    width: $width;

    &:horizontal {
      height: $width;
    }
  }

  &::-webkit-scrollbar-thumb {
    border-radius: $width * 5;
    background: $border-color;
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}
