$bg-main: #3F4D55;
$bg-canvas: #2A2D30;
$bg-extra: #2F373D;
$border-color: #677E8B;
$border-active-color: #3291EA;
$link-color: #07BEF8;
$body-color: #FFF;
$placeholder-color: rgba($body-color, 0.5);
$success: #68DB5E;
$danger: #F31010;