$bg-main: #3f4d55;
$bg-canvas: #2a2d30;
$bg-extra: #2f373d;
$border-color: #677e8b;
$border-active-color: #3291ea;
$link-color: #07bef8;
$body-color: #fff;
$placeholder-color: rgba($body-color, 0.5);
$success: #68db5e;
$danger: #f31010;

$button-hover-color: #e3edf2;
$button-active-color: #cad7df;
$button-disabled-color: #43494d;
$button-disabled-bg-color: #62717a;
$input-hover-color: #98acb8;
$input-active-color: #ecf8ff;
