{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "singleQuote": false
      }
    }
  ],
  "svelteStrictMode": false,
  "svelteAllowShorthand": true,
  "svelteIndentScriptAndStyle": true
}
