{
  "plugins": ["prettier-plugin-svelte"],
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "bracketSameLine": true,
  "overrides": [
    {
      "files": "*.svelte",
      "options": { "parser": "svelte" }
    },
    {
      "files": "*.scss",
      "options": {
        "singleQuote": false
      }
    }
  ],
  "svelteStrictMode": false,
  "svelteAllowShorthand": true,
  "svelteIndentScriptAndStyle": true
}
