@font-face {
  font-family: "PT Root UI";
  src: url("/fonts/pt-root-ui-light.woff2") format("woff2"),
    url("/fonts/pt-root-ui-light.woff") format("woff");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "PT Root UI";
  src: url("/fonts/pt-root-ui-regular.woff2") format("woff2"),
    url("/fonts/pt-root-ui-regular.woff") format("woff");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Root UI";
  src: url("/fonts/pt-root-ui-medium.woff2") format("woff2"),
    url("/fonts/pt-root-ui-medium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "PT Root UI";
  src: url("/fonts/pt-root-ui-bold.woff2") format("woff2"),
    url("/fonts/pt-root-ui-bold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
