*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "PT Root UI", sans-serif;
  font-weight: 400;
  color: $body-color;
  cursor: url("/icons/cursor-default.svg"), auto;
}

h1 {
  @include typography("h1");
}

h2 {
  @include typography("h2");
}

h3 {
  @include typography("h3");
}
